VERSION="LATEST"
SERVER_NAME="YOUR_SERVER_NAME"
ALLOW_LIST_USERS="some_username:<xuid_from_www.cxkes.me>,other_username:123456789"
# Administrators
OPS="<xuid_from_www.cxkes.me>,<and_so_forth>"
# Members
MEMBERS="<xuid_from_www.cxkes.me>,<and_so_forth>"
